Swim4/php/soap/Scan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="Scan" targetNamespace="http://example.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema xmlns:tns="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/">
            <complexType name="BookerType">
                <simpleContent>
                    <extension base="string">
                        <attribute name="Id" type="string" />
                        <attribute name="Sign">
                            <simpleType>
                                <restriction base="string">
                                    <whiteSpace value="collapse" />
                                </restriction>
                            </simpleType>
                        </attribute>
                        <attribute name="Name" type="string" />
                        <attribute name="Url" type="anyURI" />
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="BookersType">
                <sequence minOccurs="0" maxOccurs="unbounded">
                    <element xmlns:q1="http://example.com/" minOccurs="0" maxOccurs="unbounded" name="Booker" type="q1:BookerType" />
                </sequence>
                <attribute name="UserSign" type="string" />
            </complexType>
            <complexType name="BookersResponseType">
                <sequence>
                    <element xmlns:q1="http://example.com/" name="Bookers">
                        <complexType>
                            <complexContent mixed="false">
                                <extension base="q1:BookersType">
                                    <attribute name="UserSign" type="string" />
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="SportType">
                <simpleContent>
                    <extension base="string">
                        <attribute name="Sign" type="string" use="required" />
                        <attribute name="Name" type="string" use="required" />
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="SportsType">
                <sequence minOccurs="0" maxOccurs="unbounded">
                    <element xmlns:q2="http://example.com/" minOccurs="0" maxOccurs="unbounded" name="Sport" type="q2:SportType" />
                </sequence>
            </complexType>
            <complexType name="SportsResponseType">
                <sequence>
                    <element xmlns:q3="http://example.com/" name="Sports" type="q3:SportsType" />
                </sequence>
            </complexType>
            <complexType name="TournirType">
                <simpleContent>
                    <extension base="string">
                        <attribute name="Id" type="string" />
                        <attribute name="Region_Name" type="string" />
                        <attribute name="Name" type="string" use="required" />
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="TournirsType">
                <sequence minOccurs="0" maxOccurs="unbounded">
                    <element xmlns:q1="http://example.com/" minOccurs="0" maxOccurs="unbounded" name="Tournir" type="q1:TournirType" />
                </sequence>
            </complexType>
            <complexType name="TournirResponseType">
                <sequence>
                    <element xmlns:q2="http://example.com/" name="Tournirs" type="q2:TournirsType" />
                </sequence>
            </complexType>
            <complexType name="BetType">
                <simpleContent>
                    <extension base="anySimpleType">
                        <attribute name="Period" type="string" use="required" />
                        <attribute name="Kind" type="string" use="required" />
                        <attribute name="Subject" type="string" />
                        <attribute name="Gamer" type="string" />
                        <attribute name="Value" type="string" />
                        <attribute name="Modifier" type="string" />
                        <attribute name="Koef" type="float" />
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="EventType">
                <sequence minOccurs="0" maxOccurs="unbounded">
                    <element xmlns:q3="http://example.com/" minOccurs="0" maxOccurs="unbounded" name="Bet" type="q3:BetType" />
                </sequence>
                <attribute name="Id" type="string" />
                <attribute name="DateTime" type="dateTime" />
                <attribute name="Gamer1_Name" type="string" />
                <attribute name="Gamer2_Name" type="string" />
            </complexType>
            <complexType name="EventsType">
                <sequence minOccurs="0" maxOccurs="unbounded">
                    <element xmlns:q4="http://example.com/" minOccurs="0" maxOccurs="unbounded" name="Event" type="q4:EventType" />
                </sequence>
            </complexType>
            <complexType name="EventsResponseType">
                <sequence>
                    <element xmlns:q5="http://example.com/" name="Events" type="q5:EventsType" />
                </sequence>
            </complexType>
        </xs:schema>
    </types>
    <message name="TournirsRequestMessage">
        <part name="BookerSignPart" type="xs:string" />
        <part name="SportSignPart" type="xs:string" />
    </message>
    <message name="EventsResponseMessage">
        <part name="EventsResponsePart" type="tns:EventsResponseType" />
    </message>
    <message name="SportsRequestMessage">
        <part name="BookerSignPart" type="xs:string" />
    </message>
    <message name="EventRequestMessage">
        <part name="BookerSignPart" type="xs:string" />
        <part name="SportSignPart" type="xs:string" />
        <part name="EventIdPart" type="xs:string" />
    </message>
    <message name="BookersRequestMessage">
        <part name="UserSign" type="xs:string" />
    </message>
    <message name="BookersResponseMessage">
        <part name="BookersResponse" type="tns:BookersResponseType" />
    </message>
    <message name="SportsResponseMessage">
        <part name="SportsResponsePart" type="tns:SportsResponseType" />
    </message>
    <message name="TournirResponseMessage">
        <part name="TournirResponse" type="tns:TournirResponseType" />
    </message>
    <portType name="ScanPortType">
        <operation name="getSports">
            <input message="tns:SportsRequestMessage" />
            <output message="tns:SportsResponseMessage" />
        </operation>
        <operation name="getTournirs">
            <input message="tns:TournirsRequestMessage" />
            <output message="tns:TournirResponseMessage" />
        </operation>
        <operation name="getEvents">
            <input message="tns:EventRequestMessage" />
            <output message="tns:EventsResponseMessage" />
        </operation>
        <operation name="getBookers">
            <input message="tns:BookersRequestMessage" />
            <output message="tns:BookersResponseMessage" />
        </operation>
    </portType>
    <binding name="ScanBinding" type="tns:ScanPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="getSports">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getTournirs">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getEvents">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getBookers">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="ScanService">
        <port name="ScanPort" binding="tns:ScanBinding">
            <soap:address location="http://localhost:8080/soap/ScanBooker.php" />
        </port>
    </service>
</definitions>
