Swim4/php/soap/swim4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<wsdl:definitions 
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:tns="http://schema.example.com/" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
   name="ScanBooker" 
   targetNamespace="http://localhost:8080/soap/swim4.wsdl" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="swm">
            <complexType name="SportRequestType">
                <sequence>
                    <element name="BookerSign" type="string" />
                </sequence>
            </complexType>
            <complexType name="TournirRequestType">
                <sequence>
                    <element name="BookerSign" type="string" />
                    <element name="SportSign" type="string" />
                </sequence>
            </complexType>
            <complexType name="EventRequestType">
                <sequence>
                    <element name="BookerSign" type="string" />
                    <element name="SportSign" type="string" />
                    <element name="TournirId" type="string" />
                </sequence>
            </complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="xmlData">
        <wsdl:part name="xmlResponse" type="xs:string" />
    </wsdl:message>
    <wsdl:message name="SportRequest">
        <wsdl:part name="SportRequestData" type="xsd:SportRequestType" />
    </wsdl:message>
    <wsdl:message name="EventRerquest">
        <wsdl:part name="EventRequestData" type="xsd:EventRequestType" />
    </wsdl:message>
    <wsdl:message name="TournirRequest">
        <wsdl:part name="TournirRequestData" type="xsd:TournirRequestType" />
    </wsdl:message>
    <wsdl:portType name="ScanBookerPortType">
        <wsdl:operation name="getBookers">
            <wsdl:output message="tns:xmlData" />
        </wsdl:operation>
        <wsdl:operation name="getSports">
            <wsdl:input message="tns:SportRequest" />
            <wsdl:output message="tns:xmlData" />
        </wsdl:operation>
        <wsdl:operation name="getTournirs">
            <wsdl:input message="tns:TournirRequest" />
            <wsdl:output message="tns:xmlData" />
        </wsdl:operation>
        <wsdl:operation name="getEvents">
            <wsdl:input message="tns:EventRerquest" />
            <wsdl:output message="tns:xmlData" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ScanBookerBinding" type="tns:ScanBookerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getBookers">
            <soap:operation soapAction="urn:ScanBooker/getBookers" style="document" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSports">
            <soap:operation soapAction="getSports" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTournirs">
            <soap:operation soapAction="getTournirs" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="tournirXml">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEvents">
            <soap:operation soapAction="getEvents" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ScanBooker">
        <wsdl:port name="ScanBookerPort" binding="ScanBookerBinding">
            <soap:address location="http://localhost:8080/soap/ScanBooker.php" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
