Swim4/php/swim4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="ScanBooker" targetNamespace="" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema xmlns:tns="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="swm">
            <complexType name="SportRequestType">
                <sequence>
                    <element name="BookerSign" type="string" />
                </sequence>
            </complexType>
            <complexType name="TournirRequestType">
                <sequence>
                    <element name="BookerSign" type="string" />
                    <element name="SportSign" type="string" />
                </sequence>
            </complexType>
            <complexType name="EventRequestType">
                <sequence>
                    <element name="BookerSign" type="string" />
                    <element name="SportSign" type="string" />
                    <element name="TournirId" type="string" />
                </sequence>
            </complexType>
        </xs:schema>
    </types>
    <message name="xmlData">
        <part xmlns:q2="swm" name="xmlResponse" type="xs:string" />
    </message>
    <message name="SportRequest">
        <part xmlns:q1="swm" name="SportRequestData" type="q1:SportRequestType" />
    </message>
    <message name="EventRerquest">
        <part xmlns:q2="swm" name="EventRequestData" type="q2:EventRequestType" />
    </message>
    <message name="TournirRequest">
        <part xmlns:q1="swm" name="TournirRequestData" type="q1:TournirRequestType" />
    </message>
    <portType name="ScanBookerPortType">
        <operation name="getBookers">
            <output message="xmlData" />
        </operation>
        <operation name="getSports">
            <input message="SportRequest" />
            <output message="xmlData" />
        </operation>
        <operation name="getTournirs">
            <input message="TournirRequest" />
            <output name="tournirXml" message="xmlData" />
        </operation>
        <operation name="getEvents">
            <input message="EventRerquest" />
            <output message="xmlData" />
        </operation>
    </portType>
    <binding name="ScanBookerBinding" type="ScanBookerPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="getBookers">
            <soap:operation soapAction="" />
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getSports">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getTournirs">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output name="tournirXml">
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getEvents">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="ScanBooker">
        <port name="ScanBookerPort" binding="ScanBookerBinding">
            <soap:address location="localhost:8080/soap/server.php" />
        </port>
    </service>
</definitions>
