Otto/XSD/OrderItem.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="TField">
        <xs:attribute name="FieldName">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30" />
                    <xs:pattern value="[0-9A-Z]{30}" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="FieldType" />
        <xs:attribute name="DataType" />
        <xs:attribute name="Size" />
        <xs:attribute name="Precision" />
    </xs:complexType>
</xs:schema>
