Otto/XSD/XmlDataSet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="TField">
        <xs:attribute name="FieldName" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30" />
                    <xs:pattern value="[0-9A-Z]{30}" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="FieldType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Data" />
                    <xs:enumeration value="Lookup" />
                    <xs:enumeration value="Calculated" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="DataType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="string" />
                    <xs:enumeration value="numeric" />
                    <xs:enumeration value="datetime" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Size" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1" />
                    <xs:fractionDigits value="0" />
                    <xs:maxInclusive value="4000" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Precision" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="DefaultValueXPath" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="TFieldDefs">
        <xs:sequence minOccurs="1" maxOccurs="255">
            <xs:element name="Field" type="TField" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="XmlDataSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Fields" type="TFieldDefs" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="DefaultValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Constant" />
            <xs:enumeration value="Sequence" />
            <xs:enumeration value="AttributeXPath" />
            <xs:enumeration value="ValueXPath" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TDefaultValue">
        <xs:choice>
            <xs:element />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TDefaultValueConstant">
        <xs:attribute name="DefaultValue" type="xs:string" />
    </xs:complexType>
</xs:schema>
